.wrapper {
    position: relative;
    height: calc(110vh + 80vw);
    top: 9rem;
    text-align: center;
    margin-left: 8vw;
    margin-right: 8vw;
    margin-bottom: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Overpass";
    color: hsl(208, 49%, 24%);
    overflow-x: hidden;
    h1 {
        font-size: 7.5vw;
    }
    p {
        line-height: 1.5rem;
        font-family: "Overpass";
        font-size: 0.85rem;
        color: hsl(0, 0%, 60%);
        font-weight: bold;
    }
}

.heading {
    width: 60vw;
}

.image {
    width: 110%;
}
