.wrapper {
    position: relative;
    top: 5rem;
    height: 27vw;
    background: url("./../../images/bg-pattern-circles.svg"),
        linear-gradient(to right, hsl(237, 17%, 21%), hsl(237, 23%, 32%));
    background-size: calc(0.65 * 100vw), cover;
    background-repeat: no-repeat;
    // clip-path: inset(9rem 0px 15rem 0rem);
    background-position-y: -32vw, 0rem;
    background-position-x: -14vw, 0rem;
    border-bottom-left-radius: 8rem;
    border-top-right-radius: 8rem;
}

.phones {
    position: relative;
    left: calc(0.08 * 100vw);
    top: -4rem;
    width: 37.5%;
}

.textWrapper {
    position: absolute;
    font-family: "Ubuntu";
    color: white;
    top: calc(0.06 * 100vw);
    left: calc(0.475 * 100vw);
    h1 {
        font-size: calc(0.1 * 24vw);
    }
    p {
        width: 40vw;
        color: hsl(240, 2%, 79%);
        font-size: calc(0.1 * 10vw);
        line-height: calc(0.2 * 10vw);
    }
}
